* {
    margin: 0;
    padding: 0;
}
.carousel-item img {
    margin-top: 40px;
}

img {
    max-width: 100%;
}

h1,
h2,
h3,
h4,
p {
    text-align: center;
}

.btn {
    margin: 0 auto;
}

.col-md.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 10px;

}

.best-seller-product {
    margin: 15px;
}


.carousel-item img {
    filter: brightness(50%);
}

.best-seller-product {
    display: flex;
}

.green-tea-pic {
    order: 2;
}


@media (min-width: 661px) { 
.carousel-caption{
    bottom: 17%;
    font-size: 2em;
}
 }

 @media(min-width: 1266px){
     .carousel-caption {
         bottom: 27%;
     }
     @media(min-width: 1280px){
        .carousel-caption {
            bottom: 33%;
            font-size: 3em;
        }
 }
