* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.carousel-item img {
  margin-top: 40px;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
p {
  text-align: center;
}

.btn {
  margin: 0 auto;
}

.col-md.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 10px;
}

.best-seller-product {
  margin: 15px;
}

.carousel-item img {
  filter: brightness(50%);
}

.best-seller-product {
  display: flex;
}

.green-tea-pic {
  order: 2;
}

.share-love {
  min-height: 450px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('Images/tea_second_hero.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: wheat;
}

.share-love h3 {
  font-size: 3em;
}

footer {
  background-color: gray;
  bottom: 0;
  margin-top: 100px;
  display: flex;
  justify-content: left;
  align-items: center;
}

footer i {
  margin: 0 10px;
}
